.admin-home {
    width: 100vw;
    height: 100vh;
    background-color: $colour-brand;

    &-content {
        @include AlignCenter;

        width: 80%;
        text-align: center;
        color: $colour-white;

        h1 {
            margin-bottom: $spacing-md;
        }

        &-link {
            width: 12rem;
            height: 12rem;
            cursor: pointer;
            position: relative;
            text-align: center;
            margin: $spacing-base;
            border-radius: 100%;
            display: inline-block;
            background-color: $colour-white;

            a {
                @include AlignCenter;

                font-size: $font-md;
                color: $colour-brand;
                text-decoration: none;
            }
        }
    }
}