/***** COLOURS *****/
$colour-brand:  #792233;

$colour-white:  #fff;

/***** FONTS *****/
$font-xxxs:     0.8rem;
$font-xxs:      1rem;
$font-xs:       1.2rem;
$font-sm:       1.6rem;
$font-base:     2rem;
$font-md:       2.4rem;
$font-lg:       2.8rem;
$font-xl:       3.2rem;
$font-xxl:      3.6rem;
$font-xxxl:     4rem;

/***** SPACING *****/
$spacing-base:  2rem;

$spacing-xxs:   $spacing-base / 4;
$spacing-xs:    $spacing-base / 3;
$spacing-sm:    $spacing-base / 2;
$spacing-md:    $spacing-base * 2;
$spacing-lg:    $spacing-base * 3;
$spacing-xl:    $spacing-base * 4;
